---
import Base from '../layouts/Base.astro';
---
<Base title='Accueil'>
  <main class='p-6'>
    <h1 class='text-3xl font-bold'>Astro est en place ?</h1>
    <p class='text-slate-600'>Backend: </p>
  </main>
</Base>
